@using Object = Ashlynn.Object
@model IEnumerable<Object.Entry>
@{
    var list = (Model ?? Enumerable.Empty<Object.Entry>()).ToArray();
}

<div>
    @if (list.Any())
    {
        foreach (var entry in list)
        {
            <div data-ashlynn-id="@entry.ID.ToString()" class="_search-result-item-div">
                <div>
                    @{
                        var date = entry.Date.ToString("dddd dd MMMM yyyy");
                    }
                    <label><strong>@entry.Name</strong></label>
                </div>
                <div>
                    <label>@entry.Text</label>
                </div>
                <div>
                    <label>Date: @date</label>
                    @if (entry.Tags.Length > 0)
                    {
                        string comma = "";
                        <label>Tags:</label>    
                        foreach (var tag in entry.Tags.Split(',').Select(e => e.Trim()))
                         {
                             <text>@comma</text>
                             <label><strong>@tag</strong></label>
                             if (comma == "")
                             {
                                 comma = ", ";
                             }
                        
                         }
                    }
                
                    @if (entry.Attachments.Length > 0)
                    {
                        <span>
                            <label>Attachments:</label>
                            @foreach (var attachment in entry.Attachments)
                            {
                                <a href="@Url.Action("DownloadFile", "Home", new { entryID = entry.ID.ToString(), fileID = attachment.ID.ToString() })">@attachment.Name</a>
                            }</span>
                    }
                </div>
                <div>
                    <button type="button" class="_delete-button">Delete</button>
                    <a href="@Url.Action("Index", "Add", new { id = entry.ID.ToString()})" class="_edit-button">Edit</a>
                </div>
                <hr/>
            </div>
        
        }
    }
    else
    {
        <label>No Results</label>
    }
</div>
