@model Ashlynn.Object.Entry

@using Ashlynn.UI
@{
    ViewBag.Title = UIConfig.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@UIConfig.Title</h2>
@using (Html.BeginForm("Save", "Add", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="id" value="@Model.ID.ToString()" />
    <div>
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" id="name-textbox" name="name" value="@Model.Name" /></td>
            </tr>
            <tr>
                <td>Tags:
                </td>
                <td>
                    <input type="text" id="tags-textbox" name="tags" value="@Model.Tags"/>
                </td>
            </tr>
            <tr>
                <td>Details:
                </td>
                <td>
                    <textarea id="entry-textarea" rows="15" cols="100" name="details">@Model.Text</textarea>
                </td>
            </tr>
            <tr>
                <td>Attachments:
                </td>
                <td>
                    <div>
                        @foreach (var attachment in Model.Attachments)
                        {
                            <span data-ashlynn-attachment-id="@attachment.ID.ToString()">
                                <a href="@Url.Action("DownloadFile", "Home", new { entryID = Model.ID.ToString(), fileID = attachment.ID.ToString() })">@attachment.Name</a>
                                <label style="display: none">@attachment.Name</label>
                                <button type="button" class="_delete-attachment-button">Delete</button>
                                <button type="button" class="_undo-delete-attachment-button">Undo</button>
                                <input name="attachments" type="hidden" value="@attachment.ID.ToString()" />
                            </span>
                        }
                    </div>
                    <button id="add-attachment-button" type="button">Add</button>


                    <div id="attachments-div">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input id="save-button" type="submit" value="Save">
        <a id="cancel-button" href="@Url.Action("Index", "Home")">Cancel</a>
    </div>
}
<script src="@Url.Content("~/Scripts/Ashlynn/add.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        ASHLYNN.add.ready();
    });
</script>
